.profile-thumbnail {
    margin-top: 3px;
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #F7F7F7;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
    
}
div.post-thumbnail {

    position: absolute;
}
div.post-content {
    margin-top: 5px;
    margin-left: 48px;
    min-height: 48px;
}

div.post-content-realpost{
    margin-left: 10px;

}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #F7F7F7;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-footer {
    text-align: right;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-body {
    margin-top: 3px;
    text-align: left;
    height:1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}


.label-default {
  background-color: #D5D5D5;
}


.label-info {
  background-color: #A0CBE7;
}

div.aboutme-center {
    text-align: center;
}

div.aboutme-left {
    text-align: left;
}


div.aboutme-blod {
    font-weight: bold;
    
}

div.aboutme-indent130 {
    margin-right: 130px;
    margin-left: 130px;
}


div.aboutme-indent150 {
    margin-right: 15px;
    margin-left: 15px;
}

.topicinpost-body {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom :3px;
    text-align: top;
}

div.wrapper{

    background-color: #e2e2e2;
    display: block;
}

div.rightbar{
width:270px;
float: right;
margin-right:20px;
}





.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: black 0px 0px 5px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 848px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 850px;
  }
}