{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}About me{% endblock %}

{% block page_content %}

<div class = "aboutme-left">

    <p>Tao Qi</p>
    <p>Suzhou, Jiangsu Province</p>
     <p>(86)183-5250-5113</p>
    <p>neother@126.com</p>
</div>



    <hr>
    <div class = "aboutme-blod">
    <p>Profile:</p>
    </div>

    <p>A software engineer with totally 10 years of working experiences. 7 years of experiences on software system testing and 3 years of experiences on software development with COBOL. With clear understanding of software quality and testing principles. </p>
    <p>Enjoy learning new technology, build this website by self-study python and flask in my spare time.</p>
    <p>My next target: buliding some apps with flask and matplotlib.</p>
    <hr>

    <div class = "aboutme-blod">
    <p>Professional Experience:</p>
    </div>



            <div class = "aboutme-blod">
            <p>Software Testing Experience:</p>
            </div>
           
            <p>04/2015 – Present, Project Lead, Jiangsu Cheetah Network Technology co., Ltd. </p>
            <div class = "aboutme-indent150">
            <p>1)  Discussion with the oversea team on the requirements understanding.</p>
            <p>2)  Guide the teammates to write the test procedure according the requirement specification and also review their test procedure.</p>
            <p>3)  Write and update the python scripts to test the implemented system automatically.(Tools: Selenium, Jenkins)</p>
            <p>4)  Lead the testing team to accomplish the project on time.</p>
            <p>5)  Daily and weekly report the testing states to the oversea team.</p>
            <p>6)  Responsible for hiring and interviewing new employees.</p>
              </div>
            <hr>
            <p>04/2013 – 04/2015, Validation and Verification Engineer, GE Healthcare (Wuxi) co., Ltd. </p>

            <div class = "aboutme-indent150">
            <p>1)  Write and update the test procedure according the software requirement specification and the comments from reviewer engineer in US Madison.</p>
            <p>2)  Perform preliminary testing/formation verification for both software and system.</p>
            <p>3)  Worked as a team leader of a testing team with 15 team members, leading the team move to the right direction.</p>
            <p>4)  Worked on the most difficult parts of the verification. </p>
            <p>5)  Raised the most number of valid defects during the preliminary testing to ensure the product within less issue when it enters formal verification.</p>
            <p>6)  Weekly report and monthly report the status of the project. E.g. The number of Test Case written and executed, the number of defects.</p>
            <p>7)  Responsible for hiring and interviewing new employees.</p>
            </div>
            <hr>
            <p>03/2012 – 04/2013, Validation and Verification Engineer, Philips Healthcare (Suzhou) co., Ltd. </p>
            <div class = "aboutme-indent150">
            <p>1)  Scheduled review meeting to review product requirement specification and clearly understand each requirement in requirement specification documentation.</p>
            <p>2)  Written test case per each requirement and also scheduled test case review meeting with relevant parties.</p>
            <p>3)  Setup the test environment as per the verification plan.</p>
            <p>4)  Executed each test case on test bays per developed verification specification.</p>
            <p>5)  Attended defect review meeting and join team to analyze defect impacts to test deliverables</p>
            <p>6)  Participated in 3rd IEC test, prepare IEC related documentation; conduct testing with the auditor from TUV and SFDA.</p>
            </div>
        <hr>
          <div class = "aboutme-blod">
        <p>Software Development Experience:</p>
        </div>
        <p>11/2009 – 03/2012, Cobol software development engineer, Dextrys co., Ltd(Suzhou)</p>
        <div class = "aboutme-indent150">
        <p>1)  Worked in US for clients’ urgent requirement in order to implement the project a.s.a.p.</p>
        <p>2)  Worked as a testing lead for particular state and lead a subgroup (2, 3 resources) to perform QA testing.</p>
        <p>3)  Created and executed all types of manually testing (functionality, regression, stress, etc) on mainframe application according to the SRS/SDS.</p>
        <p>4)  Communicated all critical issues to Development teams and track the status for each defect.</p>
        <p>5)  Assisted teammates during test execution and provided mainframe technology support. </p>
        <p>6)  Tested various projects for different states in US.</p>
        <p>7)  Prepared QA Status Summary Reports for each assignment. </p>
        <p>8)  Provided project domain and mainframe training to new employee.</p>
        </div>
        <hr>
        <p>09/2008 – 11/2009, Cobol software development engineer, Infosys co., Ltd(Shanghai)</p>
        <div class = "aboutme-indent150">
        <p>1)  Communicated with onsite to understand the requirement fully.</p>
        <p>2)  Diagnosed the up string and down string jobs in batch processing to understand the system.</p>
        <p>3)  Wrote the application design and component design and also responsible for documents maintenances.</p>
        <p>4)  Coded the components independently. Create or modify COBOL and JCL component to enhancement or maintenance existing applications.</p>
        <p>5)  Prepared unit test plan, test scripts and do the case execution, also accountable for providin development supports for QA tester during the QA testing.</p>
        <p>6)  Stayed overnight to take part in the project implementation.</p>
        <p>7)  Reported daily status to team lead and manager.</p>
        </div>




{% endblock %}


