{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}About me{% endblock %}

{% block page_content %}
        
            <div class="post-content">

                <div class="topicinpost-body ">
                 <br>
                    {% if post.body_html %}
                        {{ post.body_html | safe}}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                    <br>

                </div>
                <div class="post-footer">
                        {% if current_user.email == '401316161@qq.com' %}
                                <a href="{{ url_for('.edit', id=post.id) }}">
                                    <span class="label label-warning">Edit</span></a>
                        {% endif %}
                </div>
            </div>

{% endblock %}


