{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Share Edit Post{% endblock %}
{% block page_content %}
    <div class="page-header">
        
        <h1>Edit Post </h1>

  </div>
    <div>
        {% if current_user.can(Permission.WRITE) %}
            <form class="form" method="POST" action="{{ url_for('main.edit',id=post.id) }}">
    
    <textarea id ="editor" name = "content" value="Type...">
       {{post.body}}

    </textarea>
    <br>
    <input type="submit" value="Submit">

</form>

<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>

<script>
            ClassicEditor
                .create( document.querySelector( '#editor' ),{
        
        toolbar: [ '']
    } )
                .then( editor => {
                    console.log( editor );
                } )
                .catch( error => {
                    console.error( error );
                } );
        </script>
        {% endif %}
    </div>
    
    
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}