{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Share{% endblock %}

{% block page_content %}

        <h3>Hello {% if current_user.is_authenticated %}
                            {{ current_user.username }}!
                        {% else %}
                            Friend! Please login to share your thought.
                        {% endif %}</h3>


        {% if current_user.can(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
 
    
    {% include '_posts.html' %}
    
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}